{% extends 'base.html' %} {% block content %}
{%if user.is_authenticated %}
<h1>Records...</h1>

<table class="table table-striped table-hover table-bordered">
	<thead class="table-dark">
	<tr>
		<th scope="col">Name</th>
		<th scope="col">Email</th>
		<th scope="col">Phone</th>
		<th scope="col">Address</th>
		<th scope="col">City</th>
		<th scope="col">State</th>
		<th scope="col">Zipcode</th>
		<th scope="col">Created At</th>
		<th scope="col">Id</th>
	</tr>
	</thead>
	<tbody>

	{% if records %}
	{% for record in records %}
	<tr>
		<td><a href="{% url 'record' record.id %}">{{ record.first_name }}
												   {{ record.last_name }}</a>
		</td>
		<td>{{ record.email }}</td>
		<td>{{ record.phone }}</td>
		<td>{{ record.address }}</td>
		<td>{{ record.city }}</td>
		<td>{{ record.state }}</td>
		<td>{{ record.zipcode }}</td>
		<td>{{ record.created_at }}</td>
		<td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
	</tr>
	{% endfor %}
	{% endif %}

	</tbody>
</table>

{% else %}
<div class="col-md-6 offset-md-3">

	<h1>Login</h1>
	<br/>
	<form action="{% url 'home' %}" method="POST">
		{% csrf_token %}
		<form>
			<div class="form-group">
				<input
						class="form-control"
						name="username"
						placeholder="Username"
						required
						type="text"
				/>
			</div>
			<div class="form-group">
				<input
						class="form-control"
						name="password"
						placeholder="Password"
						required
						type="password"
				/>
			</div>
			<br/>
			<button class="btn btn-secondary" type="submit">Login</button>
		</form>
	</form>
</div>
{%endif%} {%endblock%}
